<cucumberconfig>
<emailsetup>
<emailserver>pod51012.outlook.com</emailserver>
<emailport>25</emailport>
<from>nagarajan.ganesan@aspiresys.com</from>
<to>nagarajan.ganesan@aspiresys.com</to>
<password>dilip@123</password>
</emailsetup>
<features>
<feature name="WhoIs">
<baseurl>http://whoismyrepresentative.com</baseurl>
</feature>
<feature name="delicious">
<baseurl>https://api.del.icio.us</baseurl>
</feature>
<feature name="usercreate">
<baseurl>http://services2.macys.com</baseurl>
<headers>
	<header>x-macys-webservice-client-id,psp_1.0_5825a8b937</header>
	<header>Content-Type,application/x-www-form-urlencoded</header>
	<header>Accept,application/json</header>	
</headers>
</feature>
</features>
</cucumberconfig>